head{

    
}
body{

    font-family: 'Sacramento', cursive;
    background-color: #4169e1;
}

.header1{
    font-size: 50px;
}
.Name-Color{

    color: #98dad9
}
.header3{

    font-size: 30px;
}


    
    
