head{

    <link rel="icon" type="image/x-icon" href="Logo.jpg">
}
body{

    font-family: 'Sacramento', cursive;
    background-color: #FF9677;
}

.header1{
    font-size: 100px;
}
.Name-Color{

    color: #98dad9
}


    
    
